# created by virtualenv automatically
.venv/
.env
.idea
project/__pycache__/
project/.ipynb_checkpoints/
datasets/GlobalLandTemperaturesByCity.csv
datasets/GlobalLandTemperaturesByState.csv
datasets/GlobalLandTemperaturesByCountry.csv
datasets/GlobalTemperatures.csv
datasets/GlobalLandTemperaturesByMajorCity.csv
